.header {
    max-width: 960px; 
    margin: auto; 
    position: relative;

    &__text {
        &--left {
            position: absolute;
            left: 20px;
        }
        &--right {
            position: absolute;
            right: 20px;
        }
    }
}