/* You can add global styles to this file, and also import other style files */
body {
    color:#afafaf;
    background-color: #2d2d2d;
    min-width: 100%;
    float: left;
}

img {
    height: 200px;
    width: 200px;
}
