<app-header></app-header>
<div>
    <h2>Automatiseringskennis</h2>
    <p>Java, Spring, SQL, Android, R, Git</p>
    <h2>Persoonlijk profiel</h2>
    <p>Ik ben doelgericht, gedreven en leergierig. Zo ken ik mezelf en het komt overeen met de feedback die ik van anderen krijg. Een voorbeeld is mijn prestatie om na het VMBO door te studeren tot het behalen van mijn HBO diploma. Zodra er zich een leerkans voor doet grijp ik deze met beide handen. In mijn vrije tijd game ik, lees ik en spreek ik graag af met vrienden.</p>
    <h2>Werkervaring</h2>
    <h3>Afstudeerstage, National Outsource Center - feb/2018 - jul/2018 - Almere</h3>
    <ul>
        <li>Scriptie gemaakt over het opzetten van een geautomatiseerde testomgeving voor mobiele applicaties.</li>
        <li>Testomgeving was opgezet met Jenkins.</li>
    </ul>
    <h3>Stagiair, Trifork BV - feb/2016 - jun/2016 - Amsterdam</h3>
    <ul>
        <li>Gewerkt met stagiairs en medewerkers aan webapplicaties.</li>
        <li>Werkzaamheden waren: bugs oplossen en toevoegen van nieuwe functionaliteiten.</li>
        <li>Gewerkt met: Java, Spring, AngularJS en MongoDB.</li>
    </ul>
    <h3>Stagiair, Support2U - apr/2013 - dec/2013 - Lelystad</h3>
    <ul>
        <li>Zelfstandig gewerkt aan het aanpassen/maken van webapplicaties.</li>
        <li>Als eindopdracht heb ik een webshop gemaakt.</li>
        <li>Gewerkt met ASP Classic.</li>
    </ul>
    <h2>Projecten</h2>
    <h3>Snowy - feb/2017 - mei/2019</h3>
    <ul>
        <li>Werkend met studenten/afgestudeerden aan een mobiele applicatie.</li>
        <li>Gewerkt met: Android, Jenkins, Docker en Java.</li>
        <li>Binnen Android gewerkt met: Dagger, Butterknife, Picasso en Retrofit.</li>
    </ul>
    <h3>Enterprise Web Applications - 2016</h3>
    <ul>
        <li>Gewerkt met studenten aan een webapplicatie voor managers die medewerkers kunnen zoeken en toevoegen aan projecten gebaseerd op hun vaardigheden.</li>
        <li>Gewerkt met: Java met de Spring MVC framework.</li>
    </ul>
    <h2>Educatie</h2>
    <h3>2018, Software Engineering, Hogeschool van Amsterdam (Behaald)</h3>
    <h3>2014, Applicatieontwikkelaar Niveau 4, ROC Flevoland (Behaald)</h3>
    <h3>2012, Medewerker Beheer ICT Niveau 3, ROC Flevoland (Behaald)</h3>
</div>