<app-header></app-header>
<div>
    <h2>Automatiseringskennis</h2>
    <p>Java, Spring, SQL, Android, R, Git</p>
    <h2>Persoonlijk profiel</h2>
    <p>Ik ben doelgericht, gedreven en leergierig. Zo ken ik mezelf en het komt overeen met de feedback die ik van anderen krijg. Een voorbeeld is mijn prestatie om na het VMBO door te studeren tot het behalen van mijn HBO diploma. Zodra er zich een leerkans voor doet grijp ik deze met beide handen. In mijn vrije tijd game ik, lees ik en spreek ik graag af met vrienden.</p>
    <h2>Werkervaring</h2>
    <h3>Afstudeerstage, National Outsource Center - feb/2018 - jul/2018 - Almere</h3>
    <h3>Stagiair, Trifork BV - feb/2016 - jun/2016 - Amsterdam</h3>
    <h3>Stagiair, Support2U - apr/2013 - dec/2013 - Lelystad</h3>
    <h2>Projecten</h2>
    <h3>Snowy - feb/2017 - Heden</h3>
    <h3>Enterprise Web Applications - 2016</h3>
    <h2>Educatie</h2>
    <h3>2018, Software Engineering, Hogeschool van Amsterdam (Behaald)</h3>
    <h3>2014, Applicatieontwikkelaar Niveau 4, ROC Flevoland (Behaald)</h3>
    <h3>2012, Medewerker Beheer ICT Niveau 3, ROC Flevoland (Behaald)</h3>
</div>